{% extends "header.html" %}
{% block body %}
<div class="container" style="margin:auto">
    <div align="left"> <h1>Dashboard</h1></div>
    <div class="context-main" align="center"><h2>
    <p>Welcome <strong> {{ session.username }}</strong></p>
    <p>
        This a subjective answer checker<br>
        SO!! PLEASE CLICK THE BELOW BUTTON<br>
        <a class="btn btn-primary btn-lg" href="/quiz_next/0" role="button">Enter</a>
    </p>
    </h2>
    </p>
    </div>








    </div>
{% endblock %}